<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Query Result</title>
</head>

<body>
    <h1>Query Result</h1>
    <table border="1">
        <tr>
            <th>Nome</th>
            <th>Idade</th>
            <th>Gênero</th>
            <th>Endereço</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Data Admissão</th>
            <th>Data Alta</th>
            <th>Diagnóstico</th>
            <th>Tratamento</th>
            <th>Observações</th>
        </tr>
        {% for row in paciente %}
        <tr>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
            <td>{{ row[8] }}</td>
            <td>{{ row[9] }}</td>
            <td>{{ row[10] }}</td>
            <td>{{ row[11] }}</td>
            <td>{{ row[12] }}</td>
            <td>{{ row[13] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>